* {
    margin: 0;
    padding: 0;

}

.title {
    margin-top: 217px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
}

.menu {
    padding-top: 32px;
    padding-bottom: 44px;

}
